footer {
    background-color: #4aaaae;
    text-align: center;
    height:20px;
    width: 100%;
    padding-top: 15px;
    border-top: 2px solid darkblue;
    font-size: 8px;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
}


